<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/referrer.css">
        <script>
            window.addEventListener("message", function (a) {
                if (a.origin.indexOf("intuit.com") >= 1 && a.data && a.data.initXDM) {
                    var b = document.createElement("script");
                    b.setAttribute("type", "text/javascript");
                    b.innerHTML = a.data.initXDM;
                    document.getElementsByTagName("head")[0].appendChild(b)
                }
            });            
        </script>
    </head>
    <body class="body">
        This is dialog content. <br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />
        You know nothing, Jon Snow! <br /><br />
        Brace yourself. Winter is coming!<br /><br />

        <script src="/javascripts/dialog.js"></script>
    </body>
</html>